<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/flash %>

<div class="container" style="min-height:80vh;padding-top:55px;">
  <small>I will work on the navs</small>
    <div class="">
        <h1 class="text-center">Edit Teacher</h1>
        <div style="width: 30%; margin: 25px auto;">
          <form method="POST" action="/master/<%=teacher._id%>/teacher?_method=PUT">

              <input required value="<%=teacher.name.first_name %>" class="form-control mb-3" type="text" name="name_first_name" placeholder=" First Name">
              <input required value="<%=teacher.name.last_name %>" class="form-control mb-3" type="text" name="name_last_name" placeholder=" Last Name">
              <input required value="<%=teacher.email %>" class="form-control mb-3" type="email" name="email" placeholder="Email">

              <!-- <input value="<%=teacher.ssn %>" class="form-control" type="text" name="ssn" placeholder="last 4 digit of SS"> -->
              <!--make them understand that the grade will return to 1  -->
              <label for="classGrade">Classroom</label>
              <select class="form-control mb-3" id="classGrade" name="class_name">
                <option value="grade1">grade1</option>
                <option value="grade2">grade2</option>
                <option value="grade3">grade3</option>
                <option value="grade4">grade4</option>
                <option value="grade5">grade5</option>
                <option value="grade6">grade6</option>
              </select>
              <!-- put a select for the class -->
              <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Update</button>
              </div>
          </form>
            <a href="/master">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
